body {
  margin: 0 auto 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.projectTitle {
  text-transform: uppercase;
  font-size: 22px;
  background-color: tomato;
  color: white;
  padding: 50px 0 5px 10%;
  margin: 0;
  font-weight: 600;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.taskForm, .taskList {
  margin: 0 10%;
}

.taskForm {
  margin-bottom: 30px;
  padding-top: 115px;
}

.newTaskButton, .newTaskBox {
  padding: 18px 10px;
  border: none;
  background: rgba(0,0,0,0);
  border-bottom: 1px solid tomato;
  text-transform: uppercase;
  font-size: 12px;
}

.newTaskBox {
  display: inline;
  width: 80%;
}

.newTaskBox:hover, .newTaskBox:active, .newTaskBox:focus, .newTaskButton:active, .newTaskButton:hover, .newTaskButton:focus {
  outline: none;
}

.newTaskButton {
  display: inline;
  width: 20%;
  border-top: 1px solid tomato;
  border-right: 1px solid tomato;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.newTaskButton::before {
  content: '';
  position: absolute;
  background-color: tomato;
  width: 1px;
  height: 40px;
  top: 0;
  left: 0;
}

.newTaskButton:hover {
  color: tomato;
  border-left: none;
  padding-right: 3px;
}




/*tasks*/

.task {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  -webkit-align-items: baseline;
  align-items: baseline;
  border-bottom: 1px solid tomato;
}

.task h2 {
  font-weight: 300;
  font-size: 18px;
  transition: 0.3s;
}

.task h2.complete {
  color: rgba(0,0,0,0.25);
  font-size: 12px;
  padding-left: 15%;
}
